button{
    padding: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #FF4D00;
    border-radius: 8px;
    border: 2px solid #FF4D00;
    color: #ffffff;
    font-weight: 500;
}

button:hover{
    background-color: transparent;
    border: 2px solid #FF4D00;
    color: #FF4D00;
    transition: all .2s ease-out;
}

.navbuttoncomp{
    padding: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #FF4D00;
    border: 2px solid #FF4D00;
    color: #ffffff;
    font-weight: 500;
}

.navbuttoncomp:hover{
    background-color: transparent;
    border: 2px solid #FF4D00;
    color: #FF4D00;
    transition: all .2s ease-out;
}