.main-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navlogo-don{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;
    padding-top: 0 !important;

}

.logoimgnav{
    position: absolute;
    height: 5rem !important;
}

.nav-links-container{
    width: 100%;
    padding: 0 3rem;
    background-color: #FF4D00;
}

.nav-links-ul-li{
    
    margin: 0 !important;
}


nav > ul{
    display: flex;
}

.nav-links-ul{
    display: flex;
    justify-content: center;
}

nav ul > li{
    margin: 0 1rem;
    position: relative;
    display: inline-block;
}

nav ul li a{
    font-size: 1rem;
    color: #222222;
    font-family: "komet", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nav-links-ul-li > a:after{
    content: url('../../../icons/chevron-down-solid.svg');
    height: .8rem;
    width: .8rem;
    display: inline-block;
    margin-left: .6rem;
}

/*.nav-links-ul-li > a:hover:after{
    content: url('../../../icons/chevron-down-solid-black-180.svg');
    height: .8rem;
    width: .8rem;
    display: inline-block;
    margin-left: .6rem;
}*/

nav img{
    height: 4.5rem;
}



.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 180px;
    top: 83px;
    background-color: #FF4D00;
    z-index: 999;
    animation-duration: .6s;
}


.dropdown a{
   white-space: nowrap;
   text-transform: capitalize;
   letter-spacing: 1px;
   color: #ffffff;
   font-size: 0.9rem;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 0.6rem 0.6rem;
    
   
}

.dropdown li{
    margin: inherit;
}

.nav-hover{
    color: #ffffff;
    height: 100%;
    display: inline-block;
    padding: 2rem 1rem;
}

.nav-hover:hover{
    background-color: #005387;
}



.dropdown a:hover{
    /*margin-left: 0.5rem;*/
    background-color: #df4300;
    
}

.fadein{
    animation-name: fadein;
    animation-duration: .4s;
    transition-timing-function: ease-in-out;
}




@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateY(-20px);
     }
     100% {
        opacity: 1;
        transform: translateY(0);
     }
}


