.Pages-container-content{
    padding: 3rem;
    background-color: #ffffff;
    width: 70%;
    margin: auto;
}

.Pages-container-content h2{
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    font-weight: 600;
    color: #005387;
}



.Pages-container-content h3{
    font-size: 1.5rem;
    margin-top: 4rem;
    font-weight: 600;
    color: #222222;
}

.Pages-container-content p{
    margin: 2rem 0;
    line-height: 1.5;
    letter-spacing: 1px;
}

.Pages-container-content span{
    color: #005387;
    font-weight: 600;
}
.template-page-container{
    background-color: #f3f3f3;
    padding: 4rem 0;
}

.Edu-container{
    background-color:#ffffff;
    width: 70%;
    margin: auto !important;
    margin-bottom: 2rem !important;
    padding: 2rem !important;
}

@media all and (max-width: 769px){
    .Edu-container{
        width: 80%;
    }

    .Pages-container-content{
        width: 80%;
    }

    .breadcrumb-container{
        width: 80% !important;
    }
}

@media all and (max-width: 600px){
    .Pages-container-content{
        width: 90%;
    }

    .Pages-container-content h2{
        font-size: 1.5rem;
    }

    .Edu-container{
        width: 90%;

    }
    .breadcrumb-container{
        width: 90% !important;
    }
}

@media all and (max-width: 500px){
    .Pages-container-content{
        padding: 1rem 2rem;
    }

   .breadcrumb-container{
    margin-bottom: 0 !important;
   }
}

@media all and (max-width: 376px){
    .Pages-container-content{
        padding: 1rem 2rem;
    }
}