.navinfo{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 4rem !important;
    background-color: #ffffff;
}

.navinfo a{
    font-size: 0.88rem;
    color: #005387;
}

.navinfo a:hover{
    text-decoration: underline;
    
}

#infosbutton:hover{
    background-color: #A90F4A;
    color: #ffffff;
    transition: .1s ease-out;
}


#infosbutton{
    background-color: #ffffff;
    color: #A90F4A;
    text-decoration: inherit;
    border: 1px solid #A90F4A;
    transition: .1s ease-out;
    padding: .3rem;
}


.langnavinfo li{
    margin: 0 0.5rem !important;
}

.langnavinfo li button{
    text-transform: uppercase;
    padding: .3rem;
    font-size: 0.88rem;
    border-radius: 5px;
    background-color: inherit;
    border: inherit;
    color: #005387;
}

.activelang{
    color: #A90F4A !important;
    text-decoration: underline;
    font-weight: 500;
    border-radius: 2px;
    border-radius: 5px !important;
}


.icon-navinfo{
    height: 0.8rem;
    
}

.navinfo-media img{
    height: 0.9rem !important;
    transition: transform .2s ease-in-out;
}

.navinfo-media img:hover{
    transform: translateY(2px);
}

.navinfo-media li{
    margin: 0 0.6rem !important;
}
#signbtn{
    font-size: inherit;
    
}

#signbtn img{
    height: 2rem;
    
    
}

@media all and (max-width: 1023px){
   .navinfo{
    display: none;
   }
}

@media all and (max-width: 769px){
   
}