.flex-row-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4D00;
}

.flex-row{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 90%;
    padding: 4rem 0;
}

.flex-row-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.flex-row h4{
    font-size: 6rem;
    color: #ffffff;
    font-weight: 600;
}


.flex-row p{
    line-height: 1.5;
    font-weight: 500;
    margin-top: 1rem;
    width: 90%;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

@media all and (max-width: 600px){
    .flex-row-container{
        overflow-x: clip;
    }
}
@media screen and (max-width: 376px){
    .flex-row h4{
        font-size: 4rem;
    }
}